.container {
    height: 100vh;
}

form {
    height: 100%;
}

a {
    cursor: pointer;
}

h2 {
    color: #8699cd;
}

.shown {
    visibility: hidden;
}

// Alert
.alert {
    padding: 0rem 1rem;
}

// end alert
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    height: 100%;
}

.login-image,
.login-form {
    width: 50%;
    height: 80%;
}

.login-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #f3ddf3;
    border-color: #d9aad9;
    border-style: solid;
    border-width: 2px 0px 2px 2px;
}

.login-form {
    background: #95b8f1;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #568ee7;
    border-style: solid;
    border-width: 2px 2px 2px 0;
}

img {
    width: 75%;
}

.card {
    width: 70%;
    background-color: #ffffff7d;
    color: #8699cd;
    font-weight: bold;
    filter: contrast();
    border-radius: 10px;
    position: relative;
}

.form-control {
    background-color: #ddfafb;
    border: 1px solid #8699cd;
}

.forgot {
    text-align: center;
}

.btn-login {
    background-color: #d9aad9;
    width: 100%;
}

.bi-person-circle {
    // position: absolute;
    font-size: 3rem;
    color: #8699cd;
    // top: 0;
}
