<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">

        <a class="navbar-brand">
          Emporio Barahona
        </a>
        <a>
            <i class="bi bi-flag me-4"></i> <span>Fri 11 Feb 2022 7:58:20 PM</span>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-window-split me-2"></i>
                        <span>POS</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-keyboard"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-eye me-2"></i><span>Summary</span>
                    </a>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link btn" data-bs-toggle="modal" data-bs-target="#modelInvoidNote">
                        <i class="bi bi-list-ul me-2"></i><span>Invoice</span>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-suit-heart-fill"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-info-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-alarm"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-question-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="bi bi-arrows-angle-expand"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="task-bar">
    <div class="row">
        <div class="col-7">
            <div class="products">
                <div class="search-bar">
                    <i class="bi bi-search"></i>
                    <input type="text" name="product" id="product" class="form-control shadow-none" (keyup.enter)="searchProduct(product.value)" autocomplete="off" #product>
                </div>
                <div class="select">
                    <select class="form-select shadow-none" aria-label="Default select example">
                    <option *ngFor="let cateogry of categories$ | async" selected>{{cateogry.category_name}}</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex" style="z-index: 10;">
            <div class="sale">
                <i class="bi bi-person-circle"></i>
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-phone"></i>
                <input type="text" id="client" class="client-input">
            </div>
            <div class="due">
                <label for="due"><strong>Due</strong></label>
                <input type="number" name="due" class="form-control form-control-sm shadow-none">
            </div>
            <div class="plus">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modelId">
                  <i class="bi bi-plus-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row pos-grid">
    <div class="col-7">
        <div class="row">
            <div class="col-2" *ngFor="let product of products">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <img src="assets/images/barcode-80.svg" alt=""> {{product.p_name}}<br>Price: {{product.sell_price | currency}}<br><span class="qty">Qty: {{product.quantity_in_stock}}</span>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-sm shadow-none">
                          <i class="bi bi-cart-plus"></i>
                          Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 pos-sale-info">
        <table class="table">
            <thead>
                <tr>
                    <th>Qty.</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Sub Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Panceta ahumada</td>
                    <td>2,790</td>
                    <td>2,790</td>
                    <td>
                        <button class="remove-btn"><strong style="color: red;">&times;</strong></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="sale-info">
            <div class="row totals">
                <div class="totals1 col-6">
                    <label for="total"><strong>TOTAL ITEMS 2(2)</strong></label>
                </div>
                <div class="totals2 col-6">
                    <label for="total"><strong>TOTAL $5380</strong></label>
                </div>
            </div>
            <div class="row discount">
                <div class="discount1 col-6">
                    <label for="discount" class="me-2">
                      <strong>DISCOUNT (%)</strong>
                    </label>
                    <input style="width: 50px;" type="number" name="discount" id="discount">

                </div>
                <div class="discount2 col-6">
                </div>
            </div>
            <div class="row payable">
                <div class="payable1 col-6"></div>
                <div class="payable2 col-6">
                    <label for="payable"><strong>PAYABLE AMOUNT $4842</strong></label>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer d-flex">
    <div class="total">
        $4.280
    </div>
    <div class="pay-now" (click)="goToInvoice()">
        <i class="bi bi-cash-stack me-2"></i> Pay Now!
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">Name <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="Default">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-end">Email <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control form-control-sm" id="inputPassword" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">Mobile <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control form-control-sm" id="staticEmail" placeholder="9999999999">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-end">Sex <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <div class="mb-3">
                                <select class="form-select form-select-sm" name="" id="">
                              <option selected>Male</option>
                              <option>Female</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">Age <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="30">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-end">Address</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="" id="" rows="2" placeholder="Earth"></textarea>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">City</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="Noida">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">State</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="Uttar Pradesh">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">Country</label>
                        <div class="col-sm-8">
                            <select type="text" class="form-select form-select-sm" id="staticEmail" value="email@example.com">
                              <option selected>IN - India(+91)</option>
                              <option>EC - Ecuador(+593)</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">Status <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <select class="form-select form-select-sm" id="staticEmail" value="email@example.com">
                              <option selected>Active</option>
                              <option selected>Disabled</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end">Position <span class="required">*</span> </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="1">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-end"></label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal invoice note -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelInvoidNote">
  Launch
</button> -->

<!-- Modal -->
<div class="modal fade" id="modelInvoidNote" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add invoice note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea name="invoiceNote" id="invoiceNote" cols="30" rows="3" class="form-control" placeholder="Type invoice note here..."></textarea>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
